html,
body {
    height: 100%;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*font-family: 'Arsenal', sans-serif;*/
    /*font-family: 'Lora', serif;*/
}
body {
    background-color: #000;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0;
}
.wrap > .container h1,h2,h3,h4,h5,h6,p {
    color : #DDD;
}
.wrap > .container h1 {
    margin-top: 20px;
    /*font-family: 'Source Sans Pro', sans-serif !important;*/
    font-family: 'Arsenal', sans-serif !important;
    /*font-family: 'Lora', serif !important;*/
    font-size: 4em;
}
.wrap > .container p {
    font-family: 'Source Sans Pro', sans-serif !important;
    /*font-family: 'Arsenal', sans-serif !important;*/
    /*font-family: 'Lora', serif !important;*/
    font-size: 1.2em;
}

.row {
    margin: 0;
}
.m0a {
    margin: 0 auto;
}
.p0 {
    padding: 0;
}
.m20 {
    margin: 20px;
}
.ml20 {
    margin-left: 20px;
}
.ml40 {
    margin-left: 40px;
}
.ml60 {
    margin-left: 60px;
}
.ml80 {
    margin-left: 80px;
}
.ml100 {
    margin-left: 100px;
}
.form-control {
    border: 1px solid #DDD;
    color: #FFF !important;
}
.control-label {
    color: #DDD;
}
#contact-form {
    margin-left: 30px;
}
#contactform-verifycode {
    margin-right: 50px;
}

.footer {
    color : #9d9d9d;
    background-color: #222;
    border-top: 1px solid #ddd;
    padding: 20px 0 5px 0;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
}

footer a {
    color : #9d9d9d;
    transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
footer a:hover {
    color: #fca824;
    transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
.navbar {
    margin: 0;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.navbar-nav > .active > a {
    color : #fca824 !important;
    background-color: transparent !important;
}
.navbar-nav > li > a:hover {
    color : #fca824 !important;
}

.logo-banner {
    max-height :40px;
}

.parallax {
    height: 600px;
}
.body-content {
    background-color: #222;
}
.site-index p {
    padding: 20px 45px 20px 45px;
}
.site-contact {
    background-color: #222;
    padding: 30px 50px 30px 50px;
}